/* Header */
#header .row{
  height: 70px;
  display: flex;
  align-items: center;
}

#page-title{
  font-size: 36px;
  font-weight: 500;
  line-height: 1.111111111111111;
  letter-spacing: 0.05em;
  text-shadow: 4px 0 rgba(0, 0, 0, 0.25);
  color: #181818;
}


/* Banner */
#banner-container{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 350px;
  overflow: hidden;
  background-color: #181818;
}

#banner-container .items{
  max-width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner-container .name{
  min-width: 500px;
  height: 700px;
  background: url(../assets/images/록키호러픽쳐쇼.jpg) no-repeat center;
  background-size: contain;
  color: rgba(0, 0, 0, 0);
  transform: rotateZ(20deg);
  transition: min-width 250ms ease-out, height 250ms ease-out, transform 250ms ease-out;
}

#banner-container .items:hover .name{
  height: 900px;
  transform: rotateZ(20deg) translateX(-130px);
}


/* Banner - info */
.info{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  width: 699px;
  height: 390px;
  padding: 40px;

  border-radius: 4px;
  opacity: 0.01;
  background-color: #fff;
  transition: opacity 250ms ease-out;
}

#banner-container .items.active .info{
  position: absolute;
  z-index: 1;
  opacity: 1;
}

.image-group{
  flex: 1 0 calc((100% - 116px) * 0.7);
  margin-right: 36px;
}

.image-group .image{
  width: 100%;
  margin-bottom: 8px;
}

.image-group .review{
  text-align: center;
  font-size: 12px;
  line-height: 1.333333333333333;
}

.desc-group{
  flex: 1 0 calc((100% - 116px) * 0.3);
}

.desc-title{
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}

.desc-dl{
  font-size: 14px;
  line-height: 1.428571428571429;
}

.desc-dl div{
  display: flex;
  margin-bottom: 8px;
}

.desc-dl dt{
  flex: 0 0 35px;
  margin-right: 8px;
  font-weight: 500;
}

.info button{
  width: 178px;
}




.my-page{
  position: absolute;
  top:0;
  transform: translateY(-80%);
  right:0;
}

.my-page img{
  display: none;
}

.my-page .my-page-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100px;
  height:20px;
  padding:0;
  border:none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.01em;
  cursor: pointer;
}




/* New */
#new{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 230px;
  padding: 36px;
  text-align: center;
  background: url(../assets/images/록키호러픽쳐쇼4.gif) no-repeat 0 -150px;
  background-size: cover;
  color: #ffffff;
}

#new::before{
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.new-title,
#new .review{
  position: relative;
}

.new-title{
  font: 24px;
  font-weight: 500;
  line-height: 1.333333333333333;
  letter-spacing: 0.05em;
}

#new .review{
  font-size: 14px;
  line-height: 1.714285714285714;
  letter-spacing: 0.01em;
}


/* Playing */
.playing{
  padding: 40px 0;
  background-color: #F3F3F3;
  text-align: center;
}

.playing .row:first-child{
  margin-bottom: 70px;
}

.playing .row:nth-child(2){
  margin-bottom: 72px;
}

.playing .col-md-4{
  margin-bottom: 72px;
}

.playing .col-md-4:last-child{
  margin-bottom: 0;
}

.playing-desc-blockquote{
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.05em;
}

.playing-desc img{
  width:100%;
  height: auto;
  margin-bottom: 8px;
}


.playing-desc-title{
  margin-bottom: 16px;
  font-size: 36px;
  line-height: 1.111111111111111;
  letter-spacing: -0.01em;
}

.playing-desc-details{
  display:none;
}

.playing-desc .ticketing{
  background-color: #C4C4C4;
  box-shadow: -8px -8px 7px #FFFFFF, 3px 3px 7px #7B7B7B;
  margin: 0 auto;
  line-height: 1.333333333333333;
  letter-spacing: -0.03em;
}


/* Footer */
.footer{
  padding: 40px 0;
  background-color: #E0E0E0;
  font-size: 12px;
  line-height: 1.166666666666667;
  letter-spacing: -0.01em;
}

.footer .row{
  margin-bottom: 16px;
}

.footer .row:last-child{
  margin-bottom: 0;
}

.footer .col-md-4{
  margin-bottom: 4px;
}

.footer .col-md-4:last-child{
  margin-bottom: 0;
}

.footer-company-info .data-group{
  display: flex;
  margin-bottom: 4px;
}

.footer-company-info .data-group dt::after{
  content: ' :';
}


/* Non-Members Page */
/* Non-Members */
.non-members{
  padding: 40px 0;
}

.non-members-code-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.non-members-code-form label{
  display: block;
  margin-bottom: 16px;
  font-size: 18px;
}

.non-members-code-form input{
  display: block;
  padding-left: 11px;
  margin-bottom: 32px;
  border-bottom: 2px solid #FCC4C4;
  font-size: 18px;
  line-height: 1.5;
}

.non-members-code-form input::placeholder{
  font-weight: 400;
}
