#type{
  height: calc(100vh - 72px);
  padding-top: 16px;
  padding-bottom: 16px;
}

#user-type-nav li{
  height: calc(((100vh - 72px) - 16px * 3) / 2);
}

#user-type-nav li:first-of-type{
  margin-bottom: 16px;
}

#user-type-nav a{
  width: 100%;
  height: 100%;
  padding: 0 48px;
  border-radius: 4px;
  background-color: #E0E0E0;
  transition: all 250ms ease-in-out;
}

#user-type-nav a:hover{
  box-shadow: 0 0 0 3px #99CBDB, 0 4px 4px rgba(0, 0, 0, 0.25);
  transform: scale(1.02);
}

.type-image{
  width: 80px;
  height: auto;
  border-radius: 100px;
  margin-right: 14px;
}

.type-typo{
  width: 100px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.333333333333333;
}

/* Footer */
#footer{
  margin: 0;
}
