:root{
  --imageHeight: auto;
}

/* < 576px (Mobile) */
/* Header */
#header{
  height: 72px;
}

#header .row{
  display: flex;
  align-items: center;
}

#page-title{
  font-size: 36px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.05em;
  text-shadow: 4px 0 rgba(0, 0, 0, 0.25);
  color: #181818;
}

.three-lines-button{
  position: absolute;
  right: 16px; top: 16px;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 12px;
  background-color: #F3F3F3;
  background-image: url('../assets/images/three-lines.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0);
}

#header .button-group{
  display: flex;
  flex-wrap: wrap;
}

#header .button-group > *{
  width: 100%;
}

/* Header - active */
#header.active{
  height: 100vh;
  transition: height 250ms ease-in-out;
}

#header.active .three-lines-button{
  background-image: url('../assets/images/cross.png');
  background-repeat: no-repeat;
  background-position: center;
}

#header.active .button-group{
  padding-top: 16px;
}

#header.active .button-group > *{
  height: calc((100vh - (72px + 76px)) / 3);
  margin-bottom: 16px;
}

#header.active .button-group > *:last-child{
  margin-bottom: 0;
}



/* Banner */
#banner{
  position: relative;
  left: 0; top: 0;
  z-index: 1;
}

#banner-container{
  display: flex;
  justify-content: center;
  height: calc(100vh - 354px);
  overflow:hidden;
  background-color: #F3F3F3;
}

#banner-container .items{
  max-width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner-container li.items:nth-child(n + 2):nth-child(-n + 5){
  display: none;
}

#banner-container .name{
  min-width: 500px;
  height: 700px;
  background-image: url(../assets/images/록키호러픽쳐쇼.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  color: rgba(0, 0, 0, 0);
  transform: rotateZ(20deg);
}




/* Banner - info */
#banner-container .info{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  width: 699px;
  height: 390px;
  padding: 40px;

  border-radius: 4px;
  opacity: 0.01;
  background-color: #fff;
  transition: opacity 250ms ease-out;
}

#banner-container .items.active .info{
  position: absolute;
  z-index: 3;
  opacity: 1;
}

#banner-container .image-group{
  flex: 1 0 calc((100% - 116px) * 0.7);
  margin-right: 36px;
}

#banner-container .image{
  width: 100%;
  margin-bottom: 8px;
  filter: blur(5px);
}

#banner-container .desc-group{
  flex: 1 0 calc((100% - 116px) * 0.3);
}

.info button{
  width: 178px;
}




.my-page{
  position: absolute;
  top:0;
  transform: translateY(-80%);
  right:0;
}

.my-page img{
  display: none;
}

.my-page .my-page-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100px;
  height:20px;
  padding:0;
  border:none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.01em;
  cursor: pointer;
}




/* New */
#new{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 282px;
  padding: 64px 16px;
  text-align: center;
  background: url(../assets/images/록키호러픽쳐쇼4.gif) no-repeat center;
  background-size: cover;
  color: #F3F3F3;
}

#new::before{
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.new-title,
#new .review{
  position: relative;
  color: #F3F3F3;
}

.new-title{
  font: 24px;
  font-weight: 500;
  line-height: 1.333333333333333;
  letter-spacing: 0.05em;
}

#new .review{
  font-size: 14px;
  line-height: 1.714285714285714;
  letter-spacing: 0.01em;
}




/* Playing */
#playing{
  padding-top: 64px;
}

#playing li[data-list=true]{
  padding-top: 16px;
  padding-bottom: 16px;
}

/* Playing - info */
#playing .info{
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 4px;
  background-color: #fff;
  transition: box-shadow 250ms ease-in-out,
    transform 250ms ease-in-out;
}

#playing .info:hover{
  box-shadow: 0 0 0 3px #99CBDB, 0 0 4px 4px rgba(0, 0, 0, 0.25);
  transform: scale(1.02);
}

#playing .review{
  flex: 1 0 60px;
}

#playing .image-card{
  width: 100%;
  height: var(--imageHeight);
  margin-bottom: 16px;
  perspective: 900px;
  cursor: pointer;
}

#playing .image-card.flipped .card-inner {
  transform: rotateY(180deg);
}

#playing .card-inner{
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

#playing .image-group,
#playing .desc-group{
  position: absolute;
  width: 100%;
  height: var(--imageHeight);
  backface-visibility: hidden;
}

#playing .image{
  width: 100%;
  height: auto;
}

#playing .desc-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px;
  transform: rotateY(180deg);
  margin-bottom: auto;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
}

#playing button:hover{
  background-color: #99CBDB;
  box-shadow: none;
  border: none;
  color: #fff;
}



/* Event */
#event{
  padding-top: 64px;
}

#event .row{
  border-radius: 4px;
  background-color: #fff;
}

li[data-event=normal]{
  position: relative;
  display: flex;
  align-items: center;
}

.move-to-event{
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0);
}

#event .image{
  width: 100%;
  margin: 16px 0;
  transition: transform 250ms ease-in-out;
}



/* Footer */
#footer{
  margin-top: 64px;
  padding: 40px 0;
  background-color: #E0E0E0;
  font-size: 12px;
  line-height: 1.166666666666667;
  letter-spacing: -0.01em;
}

#footer .info{
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
}

#footer .info > div{
  display: flex;
  margin-right: 8px;
}

#footer .info > div:last-of-type{
  margin-right: 0;
}

#footer .info dt{
  flex: 1 0 auto;
  font-weight: 500;
  margin-right: 4px;
}

.copyright{
  margin-bottom: 4px;
}

#footer p:last-of-type span{
  margin-right: 16px;
}



/* Non-Members Page */
/* Non-Members */
.non-members{
  padding: 40px 0;
}

.non-members-code-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.non-members-code-form label{
  display: block;
  margin-bottom: 16px;
  font-size: 18px;
}

.non-members-code-form input{
  display: block;
  padding-left: 11px;
  margin-bottom: 32px;
  border-bottom: 2px solid #FCC4C4;
  font-size: 18px;
  line-height: 1.5;
}

.non-members-code-form input::placeholder{
  font-weight: 400;
}
