*{
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: 'Noto Sans KR', sans-serif;
  color: #181818;
}

.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}

/* Custom grid system - Fix container width */
@media screen and (min-width:1200px) {
  .container{
    max-width: 960px !important;
  }
}

@media screen and (min-width:768px) {
  .container{
    min-width: 960px !important;
  }
}


/* Reset CSS */
a{
  color: #181818;
  text-decoration: none;
}

h1{
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.01em;
}

input,
button,
textarea{
  padding:0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.333333333333333;
  letter-spacing: -0.01em;
  color: #181818;
}

input:hover,
input:active,
input:focus,
button:hover,
button:active,
button:focus,
textarea:hover,
textarea:active,
textarea:focus{
  outline: none;
  box-shadow: none;
}

ol,
ul{
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}


/* Common Setting */
section{
  padding:40px 0;
  margin-bottom: 140px;
  background-color: #FFFFFF;
}

section:last-child{
  margin-bottom: 0;
}

.section-title{
  margin-bottom: 26px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3125;
  letter-spacing: -0.03em;
  text-align: center;
}

.section-subtitle{
  position: relative;
  left: -11px;
  display: block;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  color:#AB47F9;
  letter-spacing: -0.01em;
}

.mypage-button{
  width:260px;
  height: 47px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  font-size: 22px;
  line-height: 1.090909090909091;
  letter-spacing: 0.04em;
  color: #181818;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.mypage-button:hover,
.mypage-button:active,
.mypage-button:focus{
  background-color: #AB47F9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
}

.fill-button{
  display: block;
  padding: 10px 20px;
  margin: 0 auto;
  border: 2px solid rgba(171, 71, 249, 0.5);
  border-radius: 8px;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: box-shadow 250ms ease-in-out;
}

.fill-button:hover,
.fill-button:active,
.fill-button:focus{
  box-shadow: 0px 0px 5px rgba(171, 71, 249, 0.5);
}



@keyframes pop {
  0%{
    top:62px;
    opacity: 0;
  }
  100%{
    top:72px;
    opacity: 1;
  }
}

@keyframes pop-logout {
  0%{
    top:316px;
    opacity: 0;
  }
  100%{
    top:326px;
    opacity: 1;
  }
}

@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}





/* Page - Header */
.page-title{
  position: fixed;
  top:0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 72px;
  background-color: #FFFFFF;
}

.page-title h1{
  font-size: 48px;
  letter-spacing: 0.05em;
  text-align: center;
}

.menu-button{
  position: absolute;
  top:50%;
  left:15px;
  transform: translateY(-50%);
  display: block;
  width:30px;
  height:30px;
  padding: none;
  border:none;
  outline: none;
  background-color: transparent;
  background-image: url('./pictures/3lines.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  cursor: pointer;
}

.page-menu{
  display: none;
  position: fixed;
  top:72px;
  left: 0;
  z-index: 1;
  width:100%;
  height:100vh;
  background-color: rgba(0, 0, 0, 0.5);
  animation-name: pop;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
}

.page-menu-list{
  padding: 21px 0 49px 0;
  width:100%;
  height:322px;
  background-color: #FFFFFF;
}

.menu-list-item{
  margin-bottom: 22px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
}

.menu-list-item:last-child{
  margin-bottom: 0;
}

.close-button{
  position: absolute;
  top:10px;
  right: 10px;
  width:22px;
  height: 22px;
  border:none;
  outline: none;
  background-color: transparent;
  background-image: url('./pictures/close-button.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  cursor: pointer;
}

.logout{
  display: none;
  position:fixed;
  top:326px;
  left:0;
  width:100%;
  z-index: 1;
  animation-name: pop-logout;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
}

.page-header .col-md-2 img{
  display: none;
}

.page-header .logout-button{
  display: block;
  width:100px;
  height:20px;
  padding:0;
  margin: 0 auto;
  border:none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  cursor: pointer;
}


/* Modifiy - Profile */
main{
  padding-top: 72px;
  background-color: #F3F3F3;
}

.modify-profile-image-card{
  display: none;
}

.modify-profile-info-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}

.modify-profile-info-form label,
.modify-profile-info-form input{
  display: block;
  width:100%;
}

.modify-profile-info-form label{
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 1.111111111111111;
  letter-spacing: -0.01em;
}

.modify-profile-info-form input{
  margin-bottom: 16px;
  height: 47px;
  padding-left: 14px;
  border-radius: 8px;
  border: 2px solid transparent;
  outline: none;
  background-color: #F3F3F3;
  transition: all 250ms ease-in-out;
}

.modify-profile-info-form input:hover,
.modify-profile-info-form input:active,
.modify-profile-info-form input:focus{
  border: 2px solid rgba(171,71,249, 0.5);
  box-shadow: 0px 0px 5px rgba(171,71,249, 0.5);
}

.modify-profile-info-form input:last-of-type{
  margin-bottom: 70px;
}

.modify-profile-info-form input::placeholder{
  line-height: 1.333333333333333;
  color: #7B7B7B;
}



/* Reservation */
.reservation .option-items{
  padding-left: 11px;
  margin-bottom: 49px;
}

.reservation .option-items:last-child{
  margin-bottom: 0;
}

.reservation .option-items-movie > input{
  position: absolute;
  z-index: -99;
  width:1px;
  height:1px;
  overflow: hidden;
  opacity: 0;
}

.reservation .option-items-movie > label{
  display: block;
  margin-bottom: 16px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.428571428571429;
  letter-spacing: -0.01em;
  color:#7B7B7B;
  cursor: pointer;
  transition: color 250ms ease-in-out;
}

.reservation .option-items-movie > label:hover,
.reservation .option-items-movie > label:active,
.reservation .option-items-movie > label:active{
  font-weight: 700;
  color:#181818;
}

#name1:checked ~ #rocky,
#name2:checked ~ #matilda,
#name3:checked ~ #mean,
#name4:checked ~ #harry,
#name5:checked ~ #marie,
#name6:checked ~ #truman{
  font-weight: 700;
  color: #181818;
}


.option-items-time > input{
  position: absolute;
  z-index: -99;
  width:1px;
  height:1px;
  overflow: hidden;
  opacity: 0;
}

.option-items-time > label{
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #7B7B7B;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.reservation .option-items-time > label:active,
.reservation .option-items-time > label:hover,
.reservation .option-items-time > label:focus{
  font-weight: 700;
  color: #181818;
}

#time1:checked ~ #first,
#time2:checked ~ #second,
#time3:checked ~ #third,
#time4:checked ~ #fourth,
#time5:checked ~ #fifth,
#time6:checked ~ #sixth{
  font-weight: 700;
  color: #181818;
}

.option-items-count .radio-group{
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.option-items-count .radio-group:last-child{
  margin-bottom: 0;
}

.option-items-count .radio-group > input{
  position: absolute;
  z-index: -99;
  width:1px;
  height:1px;
  overflow: hidden;
  opacity: 0;
}

.option-items-count .radio-group > label{
  display: inline-block;
  width:20px;
  height:20px;
  margin-right: 16px;
  border-radius: 50%;
  background-color: #C4C4C4;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

#num1:checked ~ #one,
#num2:checked ~ #two,
#num3:checked ~ #three,
#num4:checked ~ #four,
#num5:checked ~ #five{
  background-color: #AB47F9;
}

.option-items-count .radio-group > label:hover,
.option-items-count .radio-group > label:active,
.option-items-count .radio-group > label:focus{
  background-color: #AB47F9;
}

.option-items-count .radio-group > label::after{
  content : '';
  display: block;
  position: absolute;
  top:50%;
  left: 5px;
  transform: translateY(-50%);
  width:10px;
  height:10px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.option-items-count .radio-group > span{
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.01em;
}

.select-seat-button{
  display: block;
  margin: 0 auto;
}


/* Reservation - Confirm */
.reservation-confirm-soon,
.reservation-confirm-seen{
  padding-left: 11px;
}

.reservation-confirm-lists{
  padding-bottom: 40px;
}

.reservation-confirm-seen .reservation-confirm-lists:last-child{
  padding-bottom: 0;
}

.reservation-confirm-lists dt{
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.05em;
}

.reservation-confirm-lists dd{
  margin-bottom: 32px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.071428571428571;
  letter-spacing: 0.05em;
}

.reservation-confirm-lists dd:last-child{
  margin-bottom: 0;
}

.seen-confirm-button{
  display: block;
  margin: 0 auto 40px auto;
}

.reservation-confirm-seen{
  display: none;
}

.reservation-confirm-seen .reservation-confirm-lists{
  border-bottom: 2px solid #AB47F9;
}

.reservation-confirm-seen .reservation-confirm-lists:last-child{
  border-bottom: none;
}

.pagenation{
  display: none;
}


/* User - review */
.user-review{
  background-color: #F4F4F4;
}

.user-review .col-md-4{
  margin-bottom: 32px;
}

.user-review .col-md-4:last-child{
  margin-bottom: 0;
}

.user-review-items{
  padding: 40px 11px 40px 11px;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.user-review .col-md-4{
  display: none;
}

.user-review .col-md-4:first-child,
.user-review .col-md-4:nth-child(2),
.user-review .col-md-4:nth-child(3){
  display: block;
}

.user-review-items dt{
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.05em;
}

.user-review-items dd{
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.01em;
}

.user-review-items dd:last-child{
  margin-bottom: 0;
}

.user-review-items strong::before,
.user-review-items strong::after{
  content: '"';
}





/* Footer */
.footer{
  padding: 40px 0;
  background-color: #E0E0E0;
  font-size: 12px;
  line-height: 1.166666666666667;
  letter-spacing: -0.01%;
}

.footer .row{
  margin-bottom: 16px;
}

.footer .row:last-child{
  margin-bottom: 0;
}

.footer .col-md-4{
  margin-bottom: 4px;
}

.footer .col-md-4:last-child{
  margin-bottom: 0;
}

.footer-company-info .data-group{
  display: flex;
  margin-bottom: 4px;
}

.footer-company-info .data-group dt::after{
  content: ' :';
}
