*{
  box-sizing: border-box;
  margin: 0;
}

body{
  padding: 40px 0;
  background-color: #F3F3F3;
  font-family: 'Noto Sans KR', sans-serif;
  color: #181818;
}

.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}


/* Custom Grid System - Fix countainer width */
@media screen and (min-width:1200px) {
  .container{
    max-width: 960px !important;
  }
}

@media screen and (min-width:768px) {
  .container{
    min-width: 960px !important;
  }
}


/* Reset CSS */
a{
  display: inline-block;
  color:#181818;
  text-decoration: none;
}

ul,
ol,
li{
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

h1{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111111111111111;
  letter-spacing: 0.05em;
  color:#181818;
}

input,
textarea,
button{
  font-family: 'Noto Sans KR', sans-serif;
  color: #181818;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.333333333333333;
  letter-spacing: -0.03%;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active{
  outline: none;
  box-shadow: none;
}


/* Page-header */
.page-header{
  margin-bottom: 8px;
}

.movie-title{
  text-align: center;
}


/* User-type */
.user-type{
  position: relative;
  width:100%;
}

.user-type .page-title{
  margin-bottom: 19px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.111111111111111;
  letter-spacing: -0.01em;
  color: #7B7B7B;
  text-align: center;
}

.user-type .col-md-4:first-child{
  margin-bottom: 20px;
}

.user-type .col-md-4:nth-child(2){
  margin-bottom: 48px;
}

.user-type .col-md-4:last-child .user-type-lists{
  background-color: #FCC4C4;
}

.user-type-lists{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:290px;
  height:190px;
  margin: 0 auto;
  border-radius: 16px;
  background-color: #E0E0E0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 350ms ease-in-out;
}

.user-type-lists:hover{
  opacity: 0.7;
  transform: translateY(-2px);
}

.user-type-lists img{
  width:auto;
  height:100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-type-lists strong{
  font-size: 36px;
  line-height: 1.111111111111111;
  letter-spacing: 0.05em;
}

.user-type-lists:last-child{
  cursor: pointer;
}


/* Footer */
.footer{
  display: none;
}



/* >= 768px (Desktop) */
@media screen and (min-width:768px) {
  body{
    padding:0;
  }


  /* Page-header */
  .page-header{
    margin-top: 120px;
    margin-bottom: 48px;
  }

  .movie-title h1{
    font-size: 64px;
    line-height: 1;
  }



  /* User-type */
  .user-type{
    position: relative;
    width:100%;
  }

  .user-type .row{
    margin-bottom: 120px;
  }

  .user-type .page-title{
    margin-bottom: 38px;
    font-size: 36px;
    line-height: 1.388888888888889;
  }

  .user-type .col-md-4:first-child{
    margin-bottom: 0;
  }

  .user-type .col-md-4:nth-child(2){
    margin-bottom: 0;
  }

  .user-type-lists{
    height:340px;
  }

  .user-type-lists img{
    width:180px;
    height:auto;
    margin-bottom: 40px;
  }



  /* Footer */
  .footer{
    display: block;
    padding: 32px 0;
    font-size: 12px;
    line-height: 1.166666666666667;
    letter-spacing: -0.01%;
  }

  .footer .row:first-child{
    margin-bottom: 24px;
  }

  .footer .row:nth-child(2){
    margin-bottom: 8px;
  }

  .footer .col-md-4:nth-child(2),
  .footer .col-md-4:nth-child(3){
    text-align: right;
  }

  .footer-company-info{
    display: flex;
    justify-content: space-between;
  }

  .footer-company-info .data-group{
    display: flex;
    width:210px;
  }

  .footer-company-info .data-group dt::after{
    content: ' :';
  }
}
