*{
  box-sizing: border-box;
  margin: 0;
}

body{
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
  color: #181818;
}

.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}


/* Custom Grid System - Fix countainer width */
@media screen and (min-width:1200px) {
  .container{
    max-width: 960px !important;
  }
}

@media screen and (min-width:768px) {
  .container{
    min-width: 960px !important;
  }
}

/* Modal Pop-up Animation */
@keyframes popup {
  0%{
    transform: translate(-50%,-55%);
  }
  100%{
    transform: translate(-50%,-50%);
  }
}


/* Reset CSS */
a{
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li{
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

h1,
h2{
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.03em;
}

input,
textarea,
button{
  font-family: 'Noto Sans KR', sans-serif;
  color: #181818;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.333333333333333;
  letter-spacing: -0.03%;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active{
  outline: none;
  box-shadow: none;
}


/* Common Settings */
.fill-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 42px;
  border:none;
  outline: none;
  border-radius: 4px;
  background-color: #F3F3F3;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.111111111111111;
  letter-spacing: -0.05%;
  cursor: pointer;
  transition: opacity 250ms ease-in-out;
}

.fill-button:hover{
  opacity: 50%;
}

cite{
  font-style: normal;
}

cite::before,
cite::after{
  content: '-';
}

.flex-column-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Movie-header */
.movie-header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #181818;
  text-align: center;
}

.movie-header .movie-title{
  margin-bottom:72px;
  color: #FFFFFF;
  letter-spacing: 0.05em;
}

.movie-header .button-group{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}

.movie-header .button-group button{
  margin-right: 6px;
}


/* Advertising */
.advertising{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FCC4C4;
  text-align: center;
}

.advertising-title{
  margin-bottom: 55px;
  color: #FFFFFF;
}

.advertising-blockquote{
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  text-align: left;
}

.advertising-image strong{
  font-size: 18px;
  font-weight: 700;
  line-height: 1.111111111111111;
  letter-spacing: 0.01em;
}

.advertising-image strong:first-child{
  margin-bottom: 8px;
}

.advertising-image img{
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}


/* Playing */
.playing{
  padding: 40px 0;
  background-color: #F3F3F3;
  text-align: center;
}

.playing .row:first-child{
  margin-bottom: 70px;
}

.playing .row:nth-child(2){
  margin-bottom: 72px;
}

.playing .col-md-4{
  margin-bottom: 72px;
}

.playing .col-md-4:last-child{
  margin-bottom: 0;
}

.playing-desc-blockquote{
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.05em;
}

.playing-desc img{
  width:100%;
  height: auto;
  margin-bottom: 8px;
}


.playing-desc-title{
  margin-bottom: 16px;
  font-size: 36px;
  line-height: 1.111111111111111;
  letter-spacing: -0.01em;
}

.playing-desc-details{
  display:none;
}

.playing-desc .ticketing{
  background-color: #C4C4C4;
  box-shadow: -8px -8px 7px #FFFFFF, 3px 3px 7px #7B7B7B;
  margin: 0 auto;
  line-height: 1.333333333333333;
  letter-spacing: -0.03%;
}


/* Footer */
.footer{
  padding: 40px 0;
  background-color: #E0E0E0;
  font-size: 12px;
  line-height: 1.166666666666667;
  letter-spacing: -0.01%;
}

.footer .row{
  margin-bottom: 16px;
}

.footer .row:last-child{
  margin-bottom: 0;
}

.footer .col-md-4{
  margin-bottom: 4px;
}

.footer .col-md-4:last-child{
  margin-bottom: 0;
}

.footer-company-info .data-group{
  display: flex;
  margin-bottom: 4px;
}

.footer-company-info .data-group dt::after{
  content: ' :';
}


/* Modal */
/* Common Setting */
.black-bg{
  position: fixed;
  top:0;
  left: 0;
  display: none;
  width:100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-wrap{
  display: none;
  width:100%;
  height: 100vh;
}

/* Login - Modal */
.login-modal{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 568px;
  border-radius: 16px;
  background-color: #FFFFFF;
  text-align: center;
  animation-name: popup;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
}

.login-modal .image-card{
  margin-bottom: 16px;
}

.login-modal .image-card img{
  width:150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #C4C4C4;
  margin-top: 44px;
  margin-bottom: 12px;
}

.login-modal .page-title{
  font-size: 28px;
  font-weight: 500;
  line-height: 1.071428571428571;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.login-form label{
  display: block;
  padding-left: 16px;
  margin-bottom: 3px;
  font-size: 18px;
  line-height: 1.111111111111111;
  letter-spacing: -0.01em;
  text-align: left;
}

.login-form input{
  display: block;
  width:260px;
  height: 47px;
  padding: 11px 22px;
  border: transparent solid 2px;
  border-radius: 8px;
  background-color: #F3F3F3;
}

.login-form input::placeholder{
  font-weight: 400;
  color: #7B7B7B;
}

.login-modal input[type='text']{
  margin-bottom: 16px;
  transition: border 250ms ease-in-out;
}

.login-modal input[type='password']{
  margin-bottom: 32px;
  transition: border 250ms ease-in-out;
}

.login-modal input[type='text']:focus,
.login-modal input[type='text']:active,
.login-modal input[type='password']:focus,
.login-modal input[type='password']:active{
  border: 2px solid #FCC4C4;
}

.login-button{
  width:260px;
  height: 47px;
  border: none;
  border-radius: 8px;
  background-color: #C4C4C4;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: opacity 250ms ease-in-out;
}

.login-button:hover{
  opacity: 0.5;
}

.login-button:focus,
.login-button:active{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-close{
  position: absolute;
  top:15px;
  right:15px;
  width:25px;
  height: 25px;
  border:none;
  background-color: transparent;
  background-image: url('./pictures/close-button.png');
  background-repeat: no-repeat;
  background-size: 21.5px 21.5px;
  background-position: center center;
  cursor: pointer;
}


/* >= 768px (Desktop) */
@media screen and (min-width:768px) {
  /* Reset CSS */
  h1,
  h2{
    font-size: 64px;
  }


  /* Commen Setting */
  .fill-button{
    width:210px;
    height:50px;
    font-size: 22px;
    line-height: 1.090909090909091;
  }

  /* Movie-header */
  .movie-header{
    height: 450px;
  }

  .movie-header .movie-title{
    margin-bottom:42px;
    font-size: 72px;
    letter-spacing: -0.01em;
  }

  .movie-header .button-group{
    font-size: 22px;
    line-height: 1.090909090909091;
    letter-spacing: -0.03em;
  }

  .movie-header .button-group a:first-child{
    margin-right: 29px;
  }


  /* Advertising */
  .advertising{
    height:auto;
    padding: 80px 0;
  }

  .advertising-title{
    margin-bottom: 79px;
    font-size: 64px;
  }

  .advertising-blockquote{
    margin-bottom: 88px;
    font-size: 24px;
    line-height: 1.333333333333333;
    text-align: center;
  }

  .advertising-image strong{
    font-size: 36px;
    line-height: 1.333333333333333;
  }

  .advertising-image strong:first-child{
    margin-bottom: 16px;
  }

  .advertising-image img{
    margin-bottom: 16px;
  }


  /* Playing */
  .playing{
    padding: 80px 0;
  }

  .playing .row:first-child{
    margin-bottom: 80px;
  }

  .playing .row:nth-child(2){
    margin-bottom: 140px;
  }

  .playing .col-md-4{
    margin-bottom: 0px;
  }

  .playing-title{
    font-size: 64px;
    letter-spacing: -0.03%;
  }

  .playing-desc-blockquote{
    font-size: 16px;
    line-height: 1.375;
  }

  .playing-desc img{
    width: auto;
    height: 400px;
    margin-bottom: 16px;
  }

  .playing-desc-title{
    font-size: 30px;
    line-height: 1.066666666666667;
  }

  .playing-desc-details{
    display:block;
    margin-bottom: 56px;
    font-size: 18px;
    line-height: 1.111111111111111;
    letter-spacing: -0.01em;
  }

  .playing .details-lists{
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;
    text-align: left;
  }

  .playing .details-lists:first-child{
    height:22px;
  }

  .playing .details-lists:nth-child(2){
    height:44px;
  }

  .playing .details-lists:nth-child(3){
    height:82px;
  }

  .playing .details-lists:last-child{
    height:22px;
    margin-bottom: 0;
  }

  .playing .details-lists dt{
    width: 50px;
    margin-right: 30px;
  }

  .playing .details-lists dd{
    width: 210px;
    margin-right: 0;
  }

  .playing-desc .ticketing{
    height: 50px;
    font-size: 22px;
    line-height: 1.090909090909091;
  }


  /* Footer */
  .footer{
    padding: 32px 0;
  }

  .footer .row:first-child{
    margin-bottom: 24px;
  }

  .footer .row:nth-child(2){
    margin-bottom: 8px;
  }

  .footer .col-md-4{
    margin-bottom: 0px;
  }

  .footer .col-md-4:nth-child(2),
  .footer .col-md-4:nth-child(3){
    text-align: right;
  }

  .footer-company-info{
    display: flex;
    justify-content: space-between;
  }

  .footer-company-info .data-group{
    width:210px;
  }

  .footer-company-info .data-group{
    margin-bottom: 0px;
  }



  /* Modal */
  /* Common Setting */

  /* Login - Modal */
  .login-modal{
    width:450px;
    height:600px;
    margin: 0 auto;
    border-radius: 32px;
  }

  .login-modal .image-card{
    margin-bottom: 28px;
  }

  .login-modal .image-card img{
    width:200px;
    height: 200px;
    border: 1px solid #C4C4C4;
    margin-top: 0;
    margin-bottom: 8px;
  }

  .login-modal .page-title{
    font-size: 36px;
    line-height: 1.055555555555556;
  }

  .login-form label{
    padding-left: 8px;
    font-size: 18px;
  }

  .login-form input{
    width:290px;
    height: 47px;
    padding: 11px 11px;
  }

  .login-button{
    width:290px;
  }

  .modal-close{
    top:36px;
    right:36px;
  }
}
