*{
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: 'Noto Sans KR', sans-serif;
  color: #181818;
  background-color: #F3F3F3;
}

.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}

/* Custom grid system - Fix container width */
@media screen and (min-width:1200px) {
  .container{
    max-width: 960px !important;
  }
}

@media screen and (min-width:768px) {
  .container{
    min-width: 960px !important;
  }
}


/* Reset CSS */
a{
  display: inline-block;
  margin: 0 auto;
  color: #181818;
  text-decoration: none;
}

h1{
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.03em;
}

input,
button,
textarea{
  padding:0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.333333333333333;
  letter-spacing: -0.01em;
  color: #181818;
}

input:hover,
input:active,
input:focus,
button:hover,
button:active,
button:focus,
textarea:hover,
textarea:active,
textarea:focus{
  outline: none;
  box-shadow: none;
}

ol,
ul{
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}


/* Common Setting */
section{
  padding:40px 0;
  margin-bottom: 140px;
  background-color: #FFFFFF;
}

section:last-child{
  margin-bottom: 0;
}

.section-title{
  margin-bottom: 26px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3125;
  letter-spacing: -0.03em;
  text-align: center;
}

.section-subtitle{
  position: relative;
  left: -11px;
  display: block;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  color:#AB47F9;
  letter-spacing: -0.01em;
}

.mypage-button{
  width:260px;
  height: 47px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  font-size: 22px;
  line-height: 1.090909090909091;
  letter-spacing: 0.04em;
  color: #181818;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.mypage-button:hover,
.mypage-button:active,
.mypage-button:focus{
  background-color: #AB47F9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
}

.fill-button{
  display: block;
  padding: 10px 20px;
  margin: 0 auto;
  border: 2px solid rgba(171, 71, 249, 0.5);
  border-radius: 8px;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: box-shadow 250ms ease-in-out;
}

.fill-button:hover,
.fill-button:active,
.fill-button:focus{
  box-shadow: 0px 0px 5px rgba(171, 71, 249, 0.5);
}



@keyframes pop {
  0%{
    left:-5vh;
    opacity: 0;
  }
  100%{
    left:0;
    opacity: 1;
  }
}

@keyframes fadein {
  0%{
    top: -5px;
    opacity: 0;
  }
  100%{
    top:0;
    opacity: 1;
  }
}




/* Page - Header */
.page-header{
  position: relative;
  top:0;
  background-color: #FFFFFF;
}

.page-title{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 15vh;
}

.page-title h1{
  letter-spacing: 0.05em;
  text-align: center;
}

.menu-button{
  position: absolute;
  top:50%;
  left:15px;
  transform: translateY(-50%);
  display: block;
  width:30px;
  height:30px;
  padding: none;
  border:none;
  outline: none;
  background-color: transparent;
  background-image: url('./pictures/3lines.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  cursor: pointer;
}

.page-header .logout{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right:0;
}

.page-header .logout img{
  display: none;
}

.page-header .logout-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100px;
  height:20px;
  padding:0;
  border:none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  cursor: pointer;
}


/* Page - Menu */
.page-menu{
  position: fixed;
  top:0;
  left: -100vw;
  z-index: 1;
  width:100vw;
  height:100vh;
  background-color: #FFFFFF;
  transition: all 250ms ease-in-out;
}

.page-menu-container{
  margin:10vh 0;
}

.page-menu-list{
  margin-bottom: 22px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  text-align: center;
}

.page-menu-list:last-child{
  margin-bottom: 0;
}

.close-button{
  position: absolute;
  top:5vh;
  right: 5vh;
  width:22px;
  height: 22px;
  border:none;
  outline: none;
  background-color: transparent;
  background-image: url('./pictures/close-button.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  cursor: pointer;
}


/* Modifiy - Profile */
.modify-profile-image-card{
  display: none;
}

.modify-profile-info-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}

.modify-profile-info-form label,
.modify-profile-info-form input{
  display: block;
  width:100%;
}

.modify-profile-info-form label{
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 1.111111111111111;
  letter-spacing: -0.01em;
}

.modify-profile-info-form input{
  margin-bottom: 16px;
  height: 47px;
  padding-left: 14px;
  border-radius: 8px;
  border: 2px solid transparent;
  outline: none;
  background-color: #F3F3F3;
  transition: all 250ms ease-in-out;
}

.modify-profile-info-form input:hover,
.modify-profile-info-form input:active,
.modify-profile-info-form input:focus{
  border: 2px solid rgba(171,71,249, 0.5);
  box-shadow: 0px 0px 5px rgba(171,71,249, 0.5);
}

.modify-profile-info-form input:last-of-type{
  margin-bottom: 70px;
}

.modify-profile-info-form input::placeholder{
  line-height: 1.333333333333333;
  color: #7B7B7B;
}



/* Reservation */
.reservation .option-items{
  padding-left: 11px;
  margin-bottom: 49px;
}

.reservation .option-items:nth-of-type(2),
#Timetable1,
#Timetable2,
#Timetable3,
#Timetable4,
#Timetable5,
#Timetable6{
  position: relative;
  display: none;
  animation-name: fadein;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
}

.reservation .option-items:last-child{
  margin-bottom: 0;
}

.reservation .option-items-movie > input{
  position: absolute;
  z-index: -99;
  width:1px;
  height:1px;
  overflow: hidden;
  opacity: 0;
}

.reservation .option-items-movie > label{
  display: block;
  margin-bottom: 16px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.428571428571429;
  letter-spacing: -0.01em;
  color:#7B7B7B;
  cursor: pointer;
  transition: color 250ms ease-in-out;
}

.reservation .option-items-movie > label:last-of-type{
  margin-bottom: 0px;
}

.reservation .option-items-movie > label:hover,
.reservation .option-items-movie > label:active,
.reservation .option-items-movie > label:active{
  font-weight: 700;
  color:#181818;
}

.option-items-time{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.option-items-time > input{
  position: absolute;
  z-index: -99;
  width:1px;
  height:1px;
  overflow: hidden;
  opacity: 0;
}

.option-items-time > label{
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 16px;
  width:70px;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #7B7B7B;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.reservation .option-items-time > label:active,
.reservation .option-items-time > label:hover,
.reservation .option-items-time > label:focus{
  font-weight: 700;
  color: #181818;
}


.option-items-count .radio-group{
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.option-items-count .radio-group:last-child{
  margin-bottom: 0;
}

.option-items-count .radio-group > input{
  position: absolute;
  z-index: -99;
  width:1px;
  height:1px;
  overflow: hidden;
  opacity: 0;
}

.option-items-count .radio-group > label{
  display: inline-block;
  width:20px;
  height:20px;
  margin-right: 16px;
  border-radius: 50%;
  background-color: #C4C4C4;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}


.option-items-count .radio-group > label:hover,
.option-items-count .radio-group > label:active,
.option-items-count .radio-group > label:focus{
  background-color: #AB47F9;
}

.option-items-count .radio-group > label::after{
  content : '';
  display: block;
  position: absolute;
  top:50%;
  left: 5px;
  transform: translateY(-50%);
  width:10px;
  height:10px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.option-items-count .radio-group > span{
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.01em;
}

.select-seat-button{
  display: block;
  margin: 0 auto;
}

.select-seat-button:disabled{
  background-color: #F4F4F4;
  color:#C4C4C4;
  box-shadow: none;
  cursor: not-allowed;
}

.select-seat-button:disabled:hover,
.select-seat-button:disabled:active,
.select-seat-button:disabled:focus{
  background-color: #F4F4F4;
  color:#C4C4C4;
  box-shadow: none;
}


/* Booking */
.booking{
  position: relative;
  display: none;
  animation-name: fadein;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
}

.booking-content{
  padding-left: 11px;
}

.number-of-people{
  margin-bottom: 49px;
}

.age{
  display: flex;
  margin-bottom: 16px;
}

.age label{
  display: block;
  width:100px;
  font-size: 20px;
}

.age select{
  display: block;
  width:150px;
  outline: none;
  font-size: 20px;
}

.seat-table{
  margin-bottom: 49px;
  pointer-events: none;
  opacity: 0.5;
  transition: opacity 250ms ease-in-out;
}

.seat-table table{
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

.seat-table thead tr::before{
  content: '';
}

.seat-table tbody tr:first-child::before{
  content: 'A';
  font-weight: 700;
}

.seat-table tbody tr:nth-child(2)::before{
  content: 'B';
  font-weight: 700;
}

.seat-table tbody tr:nth-child(3)::before{
  content: 'C';
  font-weight: 700;
}

.seat-table tbody tr:nth-child(4)::before{
  content: 'D';
  font-weight: 700;
}

.seat-table tbody tr:nth-child(5)::before{
  content: 'E';
  font-weight: 700;
}

.seat-table tbody tr:nth-child(6)::before{
  content: 'F';
  font-weight: 700;
}

.seat-table tbody tr:nth-child(7)::before{
  content: 'G';
  font-weight: 700;
}

.seat-table tbody tr:nth-child(8)::before{
  content: '';
}

.seat-table tbody tr:nth-child(9)::before{
  content: 'H';
  font-weight: 700;
}
.seat-table tbody tr:nth-child(10)::before{
  content: 'I';
  font-weight: 700;
}
.seat-table tbody tr:nth-child(11)::before{
  content: 'J';
  font-weight: 700;
}
.seat-table tbody tr:nth-child(12)::before{
  content: 'K';
  font-weight: 700;
}
.seat-table tbody tr:nth-child(13)::before{
  content: 'L';
  font-weight: 700;
}
.seat-table tbody tr:nth-child(14)::before{
  content: 'M';
  font-weight: 700;
}
.seat-table tbody tr:nth-child(15)::before{
  content: 'N';
  font-weight: 700;
}


.seat-table .v-empty::after{
  content: '';
  display: block;
  width: 15px;
  height:15px;
}

.seat-table .H-empty::after{
  content: '';
  display: block;
  height: 15px;
}

.seat-table input[name=seat]{
  position: absolute;
  width:1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  z-index: -5;
}

.seat-table label{
  display: block;
  width:15px;
  height:15px;
  background-color: #C4C4C4;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.seat-table input[type=checkbox]:checked ~ label{
  background-color: #AB47F9;
}

.seat-table label:hover,
.seat-table label:active,
.seat-table label:focus{
  background-color: #AB47F9;
}

.booking-desc .booking-desc-items{
  margin-bottom: 16px;
}

.booking-desc dt{
  font-size: 20px;
  margin-bottom: 4px;
}

.booking-desc dd{
  font-size: 28px;
  font-weight: 700;
}

#seat-desc-seat{
  text-transform:uppercase;
}




/* Reservation - Confirm */
.reservation-confirm-soon,
.reservation-confirm-seen{
  padding-left: 11px;
}

.reservation-confirm-lists{
  padding-bottom: 40px;
}

.reservation-confirm-seen .reservation-confirm-lists:last-child{
  padding-bottom: 0;
}

.reservation-confirm-items{
  margin-bottom: 16px;
}

.reservation-confirm-lists dt{
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.05em;
}

.reservation-confirm-lists dd{
  font-size: 28px;
  font-weight: 700;
  line-height: 1.071428571428571;
  letter-spacing: 0.05em;
}

.reservation-confirm-lists dd:last-child{
  margin-bottom: 0;
}

.seen-confirm-button{
  display: block;
  margin: 0 auto 40px auto;
}

.reservation-confirm-seen{
  position: relative;
  display: none;
  animation-name: fadein;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
}

.reservation-confirm-seen .reservation-confirm-lists{
  border-bottom: 2px solid #AB47F9;
}

.reservation-confirm-seen .reservation-confirm-lists:last-of-type{
  border-bottom: none;
}

.pagenation{
  display: none;
}


/* User - review */
.user-review{
  background-color: #F4F4F4;
}

.user-review .col-md-4{
  position: relative;
  display: none;
  margin-bottom: 32px;
  animation-name: fadein;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
}

.user-review .col-md-4:last-child{
  margin-bottom: 0;
}

.user-review .col-md-4:first-child,
.user-review .col-md-4:nth-child(2),
.user-review .col-md-4:nth-child(3){
  display: block;
}

.user-review-items{
  padding: 40px 11px 40px 11px;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.user-review-items dt{
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.05em;
}

.user-review-items dd{
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.01em;
}

.user-review-items dd:last-child{
  margin-bottom: 0;
}

.user-review-items strong::before,
.user-review-items strong::after{
  content: '"';
}


/* Footer */
.footer{
  padding: 40px 0;
  background-color: #E0E0E0;
  font-size: 12px;
  line-height: 1.166666666666667;
  letter-spacing: -0.01%;
}

.footer .row{
  margin-bottom: 16px;
}

.footer .row:last-child{
  margin-bottom: 0;
}

.footer .col-md-4{
  margin-bottom: 4px;
}

.footer .col-md-4:last-child{
  margin-bottom: 0;
}

.footer-company-info .data-group{
  display: flex;
  margin-bottom: 4px;
}

.footer-company-info .data-group dt::after{
  content: ' :';
}

/* >= 768px (Desktop) */
@media screen and (min-width:768px) {
  /* Reset CSS */
  h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.01em;
  }


  /* Common Setting */
  /* body{
    background-color: transparent;
  } */

  main{
    background-color: #F3F3F3;
  }

  section{
    padding: 80px 0;
    margin-bottom: 0;
    background-color: transparent;
  }

  .section-title{
    margin-bottom: 48px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.388888888888889;
    letter-spacing: -0.01em;
  }

  .section-subtitle{
    left: -30px;
  }

  .mypage-button{
    width:290px;
  }

  .fill-button{
    display: block;
  }


  /* Page - Header */
  .page-title{
    height: 120px;
  }

  .page-title h1{
    font-size: 72px;
    letter-spacing: -0.01em;
  }

  .menu-button,
  .close-button{
    display: none;
  }

  .page-header .logout{
    display: flex;
  }

  .page-header .logout img{
    display: block;
    width:50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #F3F3F3;
  }

  .page-header .logout-button{
    width:100px;
    height:50px;
    padding:0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.01em;
  }



  /* Page - menu */
  .page-menu{
    position: sticky;
    left:0;
    width:100%;
    height:auto;
  }

  .page-menu-container{
    margin: 0;
  }

  .page-menu-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
  }

  .page-menu-list{
    position: relative;
    margin-bottom: 0;
    margin-right: 30px;
  }

  .page-menu-list:last-child{
    margin-right: 0;
  }

  .page-menu-list a{
    display: flex;
    justify-content: center;
    align-items: center;
    width:210px;
    height:70px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.666666666666667;
    letter-spacing: -0.01em;
  }

  .page-menu-list::after{
    content:'';
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    width:0;
    height:5px;
    background-color: #AB47F9;
    transition: width 250ms ease-in-out;
  }

  .page-menu-list:hover::after,
  .page-menu-list:active::after,
  .page-menu-list:focus::after{
    width:100%;
  }


  /* Modifiy - Profile */
  .modify-profile .container{
    border-radius: 16px;
    padding: 48px 0;
    background-color: #FFFFFF;
  }

  .modify-profile .col-md-4{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modify-profile .section-title{
    display: inline-block;
    margin-bottom: 80px;
  }

  .modify-profile-image-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 37px;
  }

  .modify-profile-image-card > div{
    width: 240px;
    height: 240px;
    margin-bottom: 24px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #F3F3F3;
  }

  .profile-image{
    display: block;
    width: 240px;
    height: auto;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }

  .modify-profile-image-form input{
    position: absolute;
    z-index: -99;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
  }

  .select-file{
    display: flex;
    justify-content: center;
    align-items: center;
    width:130px;
    height: 40px;
    margin:0 auto 8px auto;
    border-radius: 8px;
    background-color: #E0E0E0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.111111111111111;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: all 250ms ease-in-out;
  }

  .select-file:hover,
  .select-file:active,
  .select-file:focus{
    background-color: #AB47F9;
    color: #FFFFFF;
  }

  .modify-profile-image-form span{
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 1.428571428571429;
    letter-spacing: -0.01em;
  }



  .modify-profile-info-form label{
    margin-left: 18px;
    font-size: 16px;
    line-height: 1.25;
  }

  .modify-profile-info-form input{
    margin-bottom: 18px;
    padding-left: 22px;
    line-height: 1;
  }

  .modify-profile-info-form input:last-of-type{
    margin-bottom: 72px;
  }

  .modify-profile-info-form input::placeholder{
    line-height: 1;
    color: #7B7B7B;
  }



  /* Reservation */
  .reservation .container{
    border-radius: 16px;
    padding: 48px 0;
    background-color: #FFFFFF;
  }

  .reservation .option-items{
    padding-left: 0;
  }

  .option-items-time{
    justify-content: space-between;
  }

  .option-items-time > label{
    margin-right: 0px;
    margin-bottom: 0px;
    width:100px;
  }

  .reservation .option-items-count{
    display: flex;
    justify-content: space-between;
  }

  .option-items-count .radio-group{
    margin-bottom: 0;
  }



  /* Booking */
  .booking .container{
    border-radius: 16px;
    padding: 48px 0;
    background-color: #FFFFFF;
  }

  .booking-content{
    padding-left: 0px;
  }

  .seat-table{
    margin-bottom: 0px;
  }

  .booking-desc dt{
    font-size: 18px;
    margin-bottom: 4px;
  }

  .booking-desc dd{
    font-size: 22px;
    font-weight: 700;
  }



  /* Reservation - Confirm */
  .reservation-confirm .container{
    border-radius: 16px;
    padding: 48px 0;
    background-color: #FFFFFF;
  }

  .reservation-confirm-soon,
  .reservation-confirm-seen{
    padding-left: 0;
  }

  .reservation-confirm-lists{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    margin-bottom: 40px;
  }

  .reservation-confirm-lists div:first-child{
    width:130px;
  }

  .reservation-confirm-lists div:nth-child(2){
    width:210px;
  }

  .reservation-confirm-lists div:nth-child(3){
    width:130px;
  }

  .reservation-confirm-lists div:nth-child(4){
    width:50px;
  }

  .reservation-confirm-lists div:last-child{
    width:130px;
  }

  .reservation-confirm-lists dt{
    font-size: 18px;
    line-height: 1.111111111111111;
  }

  .reservation-confirm-lists dd{
    margin-bottom: 36px;
    font-size: 22px;
    line-height: 1.136363636363636;
  }

  .reservation-confirm-seen .reservation-confirm-lists{
    border:none;
  }

  .pagenation{
    display: flex;
    width:245px;
    height: 35px;
    margin: 0 auto;
    border: 1px solid #E0E0E0;
    font-size: 14px;
  }

  .pagenation .page-button{
    display: block;
    width: 35px;
    height: 35px;
    padding: 0;
    border:none;
    border-right: 1px solid #E0E0E0;
    background-color: transparent;
    cursor: pointer;
  }

  .pagenation .page-button:hover,
  .pagenation .page-button:active,
  .pagenation .page-button:focus{
    background-color: #AB47F9;
    color: #FFFFFF;
  }

  .pagenation .page-button:last-child{
    border-right: none;
  }


  /* User - review */
  .user-review{
    background-color: transparent;
  }

  .user-review .col-md-4:nth-of-type(4),
  .user-review .col-md-4:nth-of-type(5),
  .user-review .col-md-4:nth-of-type(6){
    margin-bottom: 0;
  }

  .user-review-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:400px;
    padding: 0 11px;
  }

  .user-review-items dt{
    font-size: 12px;
    line-height: 1.111111111111111;
  }

  .user-review-items dd{
    font-size: 18px;
  }

  .user-review-items strong{
    font-size: 24px;
  }


  /* Footer */
  .footer{
    padding: 32px 0;
  }

  .footer .row:first-child{
    margin-bottom: 24px;
  }

  .footer .row:nth-child(2){
    margin-bottom: 8px;
  }

  .footer .col-md-4{
    margin-bottom: 0px;
  }

  .footer .col-md-4:nth-child(2),
  .footer .col-md-4:nth-child(3){
    text-align: right;
  }

  .footer-company-info{
    display: flex;
    justify-content: space-between;
  }

  .footer-company-info .data-group{
    width:210px;
  }

  .footer-company-info .data-group{
    margin-bottom: 0px;
  }
}
