/*===========================commen setting===========================*/
/* setting body, html */
/* setting body - width, v-align */
/* setting a tag - align */
/* setting h tag - align, font family */
/* setting img tag - width */
/* add one row div */
body, html, *{
  margin:0;
  padding:0;
  margin-bottom: 12px;
}
body{
  background-color: #282724;
  width:1200px;
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: ivory;
}
a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight:bolder;
  color: ivory;
}
h1, h2, h3{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: fantasy;
}
img{
  width:100%;
}
.onerow{
  height: 100px;
}

/*=============================common setting -  navigation & article ======*/
/* configuration - navigation(side menu), article(content) */
/* tag - div, ul, h3, table */
/* setting navigation & article - grid */
/* setting navigation ul - background, list style, display, padding, margin, font */
/* setting navigation a - hover:color */
/* setting article table - table layout, size, border spacing */
/* setting article th - padding, margin, font */
/* setting article td - padding, font, border */
.navigation_article{
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.navigation{
  background-color: rgba(255, 225, 225, 0.2);
  list-style:none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 25px;
  margin: 0px 25px;
  font-size: 18px;
}
.navigation a:hover{
  color: orange;
}

.article table{
  table-layout: auto;
  width:100%;
  border-spacing: 0px;
}
.article th{
  padding: 0px 20px;
  margin-bottom: 0px;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
}
.article td{
  padding: 12px 25px;
  font-size: 18px;
  font-weight: bolder;
  border-bottom: 1px solid #bbb;
}


/*==============================common setting - sign_in_form================*/
/* configuration - sign_in_form, short scenario */
/* tag - h3, h4, h5, div, form(label input, button), p */
/* setting div & form (common point) - margin, font */
/* setting div - background, size, padding, align */
/* setting h - algin, font */
/* setting form - grid, size */
/* setting input - background, border */
/* setting button - background, size, border, cursor */
.movie_document_div,
.movie_document_div form,
.movie_document_div dl,
.movie_document_div p,
.sign_in_form input,
.sign_in_form button{
  font-family: 'Noto Serif KR', serif;
}
.sign_in_form{
  display: grid;
  grid-template-columns: 1fr 2fr;
  width:400px;
}
.sign_in_form input{
  background-color: #F5F5F7;
  border: none;
  outline: none;
}
.movie_document_div form,
.movie_document_div dl,
.movie_document_div p{
  margin: 40px 0px;
}

.movie_document_div{
  background-color: white;
  width: 600px;
  padding: 40px 100px;
  margin-left: auto;
  margin-right: auto;
  color: black;
}
h4{
  margin-top: 40px;
  text-align: center;
  font-size: 18px;
  font-family: 'Noto Serif KR', serif;
}
h5{
  font-size: 18px;
  font-weight: bolder;
}

/*==============================common setting - button ==================== */
/* background, size, border, font, cursor */
#profile_revise,
#profile_revise_save,
#move_to_profile,
#sign_in_button,
#select_seat{
  background-color: white;
  width: 130px;
  height:50px;
  border: 1px solid #282724;
  font-family: 'Noto Serif KR', serif;
  outline: none;
  cursor: pointer;
}



/*================================top=====================================*/
/* this is title area */
/* configuration - title , reservation confirmation */
/* setting title - size, font */
/* setting reservation confirmation - backgound, size, location */
.top{
  position: relative;
}
h1{
  height: 200px;
  font-size: 60px;
  text-shadow: 4px 0px red;
}
.reservation{
  background-image: url("./pictures/a배경.png");
  width: 150px;
  height: 50px;
  position: absolute;
  top:50%;
  margin-top: -25px;
  right: 20%;
  color:#282724;
}

/*============================main(main.html)===============================*/
/* this is main area */
/* configuration - opening this week , now playing */
.main{
  position: relative;
  flex-wrap: wrap;
}

/* opening this week */
/* tag - h2, h3, blockquote */
/* h2 is meaning movie title and h3 is  meaning zone name*/
/* setting h2 - background, font */
/* setting h3 - size border, font */
/* setting blockquote - padding, font */
/* setting cite - display, font */
h2{
  background-color: tomato;
  color:#282724;
  text-shadow: 3px 0px gold;
  font-size: 30px;
}
h3{
  height:100px;
  border-top: 4px solid orange;
  border-bottom: 4px solid orange;
  color:orange;
  font-size: 30px;
}
blockquote{
  padding: 20px;
  font-size: 28px;
  font-family: 'Noto Serif KR', serif;
  text-align: center;
}
cite{
  display:block;
  font-size: 28px;
  font-style: normal;
}

/* now playing */
/* tag - h2, blockquote, img, dl, a */
/* setting class - display, size*/
/* setting blocquote - background, padding, font */
/* setting cite - margin, font */
/* setting img - size */
/* setting a - background, size, font */
/* setting dl - display, border, font */
.now_playing{
  display: inline-block;
  width: 370px;
  height: 950px;
  padding: 10px;
}
.now_playing blockquote{
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
  font-size: 18px;
}
.now_playing cite{
  margin: 0;
  font-size: 16px;
}
.now_playing img{
  height:495px;
}
.now_playing a{
  background-image: url("./pictures/a배경.png");
  width: 150px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  color:#282724;
  font-size: 18px;
}
dl{
  border-left: 4px solid ivory;
}
dt, dd{
  display: block;
}
dt{
  padding-left: 20px;
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 400;
}
dd{
  padding-left: 50px;
}

/*============================main(user_type.html)====================*/
/* configuration - non_members, members, sign_in */
/* tag - h3, a */
/* settin user_type - align */
/* setting a - background, size, margin, border, font, hover */
/* a hover change background color */
.user_type{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.user_type a{
  background-color: rgba(255, 165, 0, 0.2);
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 125px;
  font-size: 40px;
}
.user_type a:hover{
  background-color: orange;
  color: #282724;
}
a.sign_in_a{
  background-color: rgba(255, 99, 71, 0.2);
}
a.sign_in_a:hover{
  background-color: tomato;
  color: #282724;
}


/*============================main(non_members.html)==================*/
/* configuration - advertising, non_members_reservation */
/* tag - h2, h3, img, form, label, input, button */
/* setting advertising - margin */
/* setting non_members_reservation - align */
/* setting label - display, font */
/* setting input - background, size, pading, border, font */
/* setting button - background, size, margin, border, cursor */
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.advertising{
  margin-right: 12px;
}
.non_members_reservation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.non_members_reservation label{
  display: block;
  font-size: 24px;
}
.non_members_reservation input{
  background-color: #282724;
  width: 400px;
  height: 44px;
  padding: 0px 30px;
  border:none;
  border-bottom: 4px solid tomato;
  outline: none;
  font-size: 18px;
}
#non_members_confirm {
  background-color: tomato;
  width:100px;
  height:44px;
  margin-left: 20px;
  border:none;
  outline: none;
  cursor: pointer;
}

/*============================main(sign_in.html)==========================*/
/* configuration - sign_in_form, short scenario, button*/
/* common setting - sign_in_form */
/* common setting - button (sign_in_button)*/


/*=============================main(profile.html)=========================*/
/* configuration - sidemenu, sign_in_form, short scenario, button */
/* commen setting - navigation & article*/
/* common setting - sign_in_form */
/* common setting - button (profile_revise)*/


/*=============================main(profile_revise.html)==================*/
/* configuration - sidemenu, sign_in_form, short scenario, button */
/* commen setting - navigation & article*/
/* common setting - sign_in_form */
/* common setting - button (move_to_profile)*/


/*=============================mian(movie_timetable.html)==================*/
/* configuration - sidemenu, timetable, select seat */
/* common setting - sign_in_form */
/* tag - div, ul, h3, ol, form, table, select, option, button*/
/* setting table th - padding, font, border */
/* seeting article ol - list style, display, margin */
/* setting article li - margin */
/* setting option - size, padding, margin, font */
/* setting button - font */

.article_movie_timetable th{
  padding-left: 50px;
  font-size: 18px;
  font-weight: bolder;
  border-bottom: 1px solid #bbb;
}
.article_movie_timetable ol{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
}
.article_movie_timetable li{
  margin-right: 12px;
  margin-bottom: 0px;
}
.yellow_line_h3 {
  background-color: orange;
  height: 50px;
  border: none;
  color: #282724;
}
.select_seat_option{
  width:100%;
  padding: 6px 12px;
  margin: 0px;
  font-size: 18px;
}
#select_seat{
  font-size: 18px;
}
/*=============================main(reservation_history.html)===============*/
/* configuration - sidemenu, reservation details (lately, history) */
/* commen setting - navigation & article*/
/* tag - div, ul, h3, table */
/* setting h3 - background, size, border, font */
.yellow_line_h3 {
  background-color: orange;
  height: 50px;
  border: none;
  color: #282724;
}




/*============================main(select_seat1.html)=============*/
/* configuration - sidemenu, seat table */
/* commen setting - navigation & article*/
/* tag - div, ul, h3, table, select, option */
/* setting button - size, margin, font, border, cursor, hover */



/*============================bottom==================================*/
/* this is bottom area */
/* configuration - reference, copyrignt, company information */
/* setting bottom - size, align, font */
.bottom{
  padding-top: 12px;
  font-size: 12px;
}
.bottom_width{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* copyrignt */
/* tag - ul */
/* setting ul - align */
.bottom ul{
  display: inline-block;
  display: flex;
  flex-direction: row;
}
.bottom li{
  list-style: none;
  margin-right: 18px;
}
/* company information */
/* tag - dl */
/* setting dl - display, margin, padding */
.bottom dl{
  border: none;
}
.bottom dt, .bottom dd{
  display: inline-block;
  padding:0;
}
.bottom dd{
  margin-right: 6px;
}
