/*===========================commen setting===========================*/
/* setting body, html */
/* setting body - width, v-align */
/* setting a tag - align */
/* setting h tag - align, font family */
/* setting img tag - width */
/* add one row div */
body, html, *{
  margin:0;
  padding:0;
  margin-bottom: 12px;
}
body{
  background-color: #282724;
  width:1200px;
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: ivory;
}
a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight:bolder;
  color: ivory;
}
h1, h2, h3{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: fantasy;
}
img{
  width:100%;
}
.onerow{
  height: 100px;
}
.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}
/*=============================common setting -  navigation & article ======*/
/* configuration - navigation(side menu), article(content) */
/* tag - div, ul, h3, table */
/* setting navigation & article - grid */
/* setting navigation ul - background, list style, display, padding, margin, font */
/* setting navigation a - hover:color */
/* setting article table - table layout, size, border spacing */
/* setting article th - padding, margin, font */
/* setting article td - padding, font, border */
.main-grid{
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.main-grid nav{
  position: relative;
  background-color: rgba(255, 225, 225, 0.2);
  padding: 50px 25px;
  margin: 0px 25px;
}
.main-Menu{
  list-style:none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
}
.main-Menu a:hover{
  color: orange;
}
.main-content article,
.main-content table,
.main-content th,
.main-content td{
  position: relative;
}
.main-content table{
  table-layout: auto;
  width:100%;
  border-spacing: 0px;
}
.main-content th{
  padding: 0px 20px;
  margin-bottom: 0px;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
}
.main-content td{
  padding: 12px 25px;
  font-size: 18px;
  font-weight: bolder;
  border-bottom: 1px solid #bbb;
}


/*==============================common setting - sign_in_form================*/
/* configuration - sign_in_form, short scenario */
/* tag - h3, h4, h5, div, form(label input, button), p */
/* setting div & form (common point) - margin, font */
/* setting div - background, size, padding, align */
/* setting h - algin, font */
/* setting form - grid, size */
/* setting input - background, border */
/* setting button - background, size, border, cursor */
.movie-sign-in,
.movie-sign-in form,
.movie-sign-in dl,
.movie-sign-in p,
.sign_in_form input,
.sign_in_form button{
  font-family: 'Noto Serif KR', serif;
}
.sign_in_form{
  display: grid;
  grid-template-columns: 1fr 2fr;
  width:400px;
}
.sign_in_form input{
  background-color: #F5F5F7;
  border: none;
  outline: none;
}
.movie-sign-in form,
.movie-sign-in dl,
.movie-sign-in p{
  margin: 40px 0px;
}

.movie-sign-in{
  background-color: white;
  width: 600px;
  padding: 40px 100px;
  margin-left: auto;
  margin-right: auto;
  color: black;
}


/*==============================common setting - button ==================== */
/* background, size, border, font, cursor */
#profile_revise,
#profile_revise_save,
#move_to_profile,
#sign_in_button,
#select_seat{
  background-color: white;
  width: 130px;
  height:50px;
  border: 1px solid #282724;
  font-family: 'Noto Serif KR', serif;
  outline: none;
  cursor: pointer;
}



/*================================ header ================================*/
/* this is header area */
/* configuration - title , login, reservation confirmation */
/* setting title - size, font */
/* setting reservation confirmation - backgound, size, location */
.settingHeader{
  position: relative;
}
.settingTitle{
  height: 200px;
  font-size: 60px;
  text-shadow: 4px 0px red;
}

.header-menu{
  position: absolute;
  top:50%;
  margin-top: -30px;
  right: 10%;
}

.header-menu ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-menu li{
  margin: 0px 10px;
}


/*============================main(main.html)===============================*/
/* this is main area */
/* configuration - opening this week , now playing */
.settingMain,
.settingMain section{
  position: relative;
  flex-wrap: wrap;
}
.section-title{
  height:100px;
  border-top: 4px solid orange;
  border-bottom: 4px solid orange;
  color:orange;
  font-size: 30px;
}
section h2 {
  background-color: tomato;
  color:#282724;
  text-shadow: 3px 0px gold;
  font-size: 30px;
}
/* opening this week */
/* tag - h2, h3, blockquote */
/* h2 is meaning movie title and h3 is  meaning zone name*/
/* setting h2 - background, font */
/* setting h3 - size border, font */
/* setting blockquote - padding, font */
/* setting cite - display, font */
blockquote{
  padding: 20px;
  font-size: 28px;
  font-family: 'Noto Serif KR', serif;
  text-align: center;
}
cite{
  display:block;
  font-size: 28px;
  font-style: normal;
}

/* now playing */
/* tag - h2, blockquote, img, dl, a */
/* setting class - display, size*/
/* setting blocquote - background, padding, font */
/* setting cite - margin, font */
/* setting img - size */
/* setting a - background, size, font */
/* setting dl - display, border, font */
.movie-list{
  display:inline-block;
  width: 370px;
  height: 950px;
  padding: 10px;
}
.movie-list-info{
  display:flex;
  flex-direction: column;
}
.movie-list blockquote{
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
  font-size: 18px;
  order:1;
}
.movie-list cite{
  margin: 0;
  font-size: 16px;
}
.movie-list img{
  height:495px;
  order:2;
}
.movie-list h2{
  order:3;
}
.movie-list a{
  background-image: url("./pictures/a배경.png");
  width: 150px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  color:#282724;
  font-size: 18px;
  order:5;
}
dl{
  border-left: 4px solid ivory;
  order:4;
}
dt, dd{
  display: block;
}
dt{
  padding-left: 20px;
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 400;
}
dd{
  padding-left: 50px;
}

/*============================main(user_type.html)====================*/
/* configuration - non_members, members, sign_in */
/* tag - h3, a */
/* settin user_type - align */
/* setting a - background, size, margin, border, font, hover */
/* a hover change background color */
.user-type ol {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}
.user-type nav{
  position: relative;
}
.user-type a{
  background-color: rgba(255, 165, 0, 0.2);
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 125px;
  font-size: 40px;
}
.user-type a:hover{
  background-color: orange;
  color: #282724;
}
a.sign-in_a{
  background-color: rgba(255, 99, 71, 0.2);
}
a.sign-in_a:hover{
  background-color: tomato;
  color: #282724;
}


/*============================main(non_members.html)==================*/
/* configuration - advertising, non_members_reservation */
/* tag - h2, h3, img, form, label, input, button */
/* setting advertising - margin */
/* setting non_members_reservation - align */
/* setting label - display, font */
/* setting input - background, size, pading, border, font */
/* setting button - background, size, margin, border, cursor */
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.advertising{
  margin-right: 12px;
  position: relative;
}
.non_members_reservation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.non_members_reservation label{
  display: block;
  font-size: 24px;
}
.non_members_reservation input{
  background-color: #282724;
  width: 400px;
  height: 44px;
  padding: 0px 30px;
  border:none;
  border-bottom: 4px solid tomato;
  outline: none;
  font-size: 18px;
}
#non_members_confirm {
  background-color: tomato;
  width:100px;
  height:44px;
  margin-left: 20px;
  border:none;
  outline: none;
  cursor: pointer;
}

/*============================main(sign_in.html)==========================*/
/* configuration - sign_in_form, short scenario, button*/
/* common setting - sign_in_form */
/* common setting - button (sign_in_button)*/
.movie-sign-in h1{
  margin-top: 40px;
  text-align: center;
  font-size: 18px;
  font-family: 'Noto Serif KR', serif;
}
.movie-sign-in span{
  font-weight: bolder;
}


/*=============================main(profile.html)=========================*/
/* configuration - sidemenu, sign_in_form, short scenario, button */
/* commen setting - navigation & article*/
/* common setting - sign_in_form */
/* common setting - button (profile_revise)*/


/*=============================main(profile_revise.html)==================*/
/* configuration - sidemenu, sign_in_form, short scenario, button */
/* commen setting - navigation & article*/
/* common setting - sign_in_form */
/* common setting - button (move_to_profile)*/


/*=============================mian(movie_timetable.html)==================*/
/* configuration - sidemenu, timetable, select seat */
/* common setting - sign_in_form */
/* tag - div, ul, h3, ol, form, table, select, option, button*/
/* setting table th - padding, font, border */
/* seeting article ol - list style, display, margin */
/* setting article li - margin */
/* setting option - size, padding, margin, font */
/* setting button - font */

.article_movie_timetable th{
  padding-left: 50px;
  font-size: 18px;
  font-weight: bolder;
  border-bottom: 1px solid #bbb;
}
.article_movie_timetable ol{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
}
.article_movie_timetable li{
  margin-right: 12px;
  margin-bottom: 0px;
}
.yellow_line_heading {
  background-color: orange;
  height: 50px;
  border: none;
  color: #282724;
}
.select_seat_option{
  width:100%;
  padding: 6px 12px;
  margin: 0px;
  font-size: 18px;
}
#select_seat{
  font-size: 18px;
}
/*=============================main(reservation_history.html)===============*/
/* configuration - sidemenu, reservation details (lately, history) */
/* commen setting - navigation & article*/
/* tag - div, ul, h3, table */
/* setting h3 - background, size, border, font */





/*============================main(select_seat1.html)=============*/
/* configuration - sidemenu, seat table */
/* commen setting - navigation & article*/
/* tag - div, ul, h3, table, select, option */
/* setting button - size, margin, font, border, cursor, hover */



/*============================ footer ==================================*/
/* this is bottom area */
/* configuration - reference, copyrignt, company information */
/* setting bottom - size, align, font */
.settingFooter{
  height:100px;
  font-size: 11px;
}
.footerSize{
  width:1200px;
  margin-left: auto;
  margin-right: auto;
}
.reference{
  position: relative;
  display: flex;
  flex-direction: row;
  border-left: none;
  border-bottom: 1px solid #a1a4a6;
}
.reference dt,
.reference dd{
padding:0;
}
.reference dd{
  padding-left: 12px;
}
.copyright,
.copyright ul,
.company-Info dl{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.copyright{
  justify-content: space-between;
}
.copyright ul{
  list-style: none;
}
.copyright li{
  padding: 0px 5px;
  border-right: 1px solid #a1a4a6;
}
.company-Info dl{
  border-left: none;
}
.company-Info dt{
  padding-left:5px;
}
.company-Info dd{
  margin:0px;
  padding: 0px 5px;
  border-right: 1px solid #a1a4a6;
}
.company-Info dl > dt:first-child{
  padding:0px;
}
.copyright ul > li:last-child, .company-Info dl > dd:last-child{
  border:none;
}
