/* >= 576px (Tablet) */
@media screen and (min-width:576px) {
  #type{
    height: calc(100vh - 72px - 184px);
  }

  #user-type-nav{
    width: 100%;
  }

  #user-type-nav li{
    height: 290px;
  }

  #user-type-nav li:first-of-type{
    margin-bottom: 0;
  }
}

/* >= 768px (Desktop) */
@media screen and (min-width:768px) {
  #type{
    height: calc(100vh - 72px - 156px);
  }
}
