/* >= 576px (Tablet) */
@media screen and (min-width:576px) {
  #header{
    height: 118px;
  }

  #header::after{
    content: '';
    position: absolute;
    left: 0; top: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 72px;
    border-bottom: 1px solid #E0E0E0;
  }

  #header .fill-button{
    line-height: 2.857142857142857;
  }

  #header a[data-type=menu]{
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }

  #header a[data-type=menu]:hover{
    box-shadow: none;
  }

  #header a[data-type=menu]:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #319BBC;
    transition: all 250ms ease-in-out;
  }

  #header a[data-type=menu]:hover::after{
    left: 0;
    width: 100%;
  }

  .logout-button{
    position: absolute;
    right: 0; top: -36px;
    transform: translateY(-50%);
  }
}

/* >= 768px (Desktop) */
@media screen and (min-width:768px) {
  
}
