/* >= 768px (Desktop) */
@media screen and (min-width:768px) {
  /* Movie-header */


  .my-page{
    display: flex;
  }

  .my-page img{
    display: block;
    width:50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #F3F3F3;
  }

  .my-page .my-page-button{
    height:50px;
    font-size: 20px;
  }



  /* Playing */
  .playing{
    padding: 80px 0;
  }

  .playing .row:first-child{
    margin-bottom: 80px;
  }

  .playing .row:nth-child(2){
    margin-bottom: 140px;
  }

  .playing .col-md-4{
    margin-bottom: 0px;
  }

  .playing-title{
    font-size: 64px;
    letter-spacing: -0.03%;
  }

  .playing-desc-blockquote{
    font-size: 16px;
    line-height: 1.375;
  }

  .playing-desc img{
    width: auto;
    height: 400px;
    margin-bottom: 16px;
  }

  .playing-desc-title{
    font-size: 30px;
    line-height: 1.066666666666667;
  }

  .playing-desc-details{
    display:block;
    margin-bottom: 56px;
    font-size: 18px;
    line-height: 1.111111111111111;
    letter-spacing: -0.01em;
  }

  .playing .details-lists{
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;
    text-align: left;
  }

  .playing .details-lists:first-child{
    height:22px;
  }

  .playing .details-lists:nth-child(2){
    height:44px;
  }

  .playing .details-lists:nth-child(3){
    height:82px;
  }

  .playing .details-lists:last-child{
    height:22px;
    margin-bottom: 0;
  }

  .playing .details-lists dt{
    width: 50px;
    margin-right: 30px;
  }

  .playing .details-lists dd{
    width: 210px;
    margin-right: 0;
  }

  .playing-desc .ticketing{
    height: 50px;
    font-size: 22px;
    line-height: 1.090909090909091;
  }


  /* Footer */
  .footer{
    padding: 32px 0;
  }

  .footer .row:first-child{
    margin-bottom: 24px;
  }

  .footer .row:nth-child(2){
    margin-bottom: 8px;
  }

  .footer .col-md-4{
    margin-bottom: 0px;
  }

  .footer .col-md-4:nth-child(2),
  .footer .col-md-4:nth-child(3){
    text-align: right;
  }

  .footer-company-info{
    display: flex;
    justify-content: space-between;
  }

  .footer-company-info .data-group{
    width:210px;
  }

  .footer-company-info .data-group{
    margin-bottom: 0px;
  }


  /* Non-Members Page */
  /* Non-Members */
  .non-members{
    padding: 80px 0;
  }

  .non-members-code-form{
    padding: 80px 0;
  }

  .non-members-code-form input{
    display: block;
    width: 450px;
  }

  .bg-lightgray{
    background-color: #F4F4F4;
  }
}
