/* >= 768px (Desktop) */
@media screen and (min-width:768px) {
  /* Movie-header */


  .my-page{
    display: flex;
  }

  .my-page img{
    display: block;
    width:50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #F3F3F3;
  }

  .my-page .my-page-button{
    height:50px;
    font-size: 20px;
  }




  /* Footer */
  .footer{
    padding: 32px 0;
  }

  .footer .row:first-child{
    margin-bottom: 24px;
  }

  .footer .row:nth-child(2){
    margin-bottom: 8px;
  }

  .footer .col-md-4{
    margin-bottom: 0px;
  }

  .footer .col-md-4:nth-child(2),
  .footer .col-md-4:nth-child(3){
    text-align: right;
  }

  .footer-company-info{
    display: flex;
    justify-content: space-between;
  }

  .footer-company-info .data-group{
    width:210px;
  }

  .footer-company-info .data-group{
    margin-bottom: 0px;
  }


  /* Non-Members Page */
  /* Non-Members */
  .non-members{
    padding: 80px 0;
  }

  .non-members-code-form{
    padding: 80px 0;
  }

  .non-members-code-form input{
    display: block;
    width: 450px;
  }

  .bg-lightgray{
    background-color: #F4F4F4;
  }
}
